*{
    margin: 0%;
    padding: 0%;
}
.navbar {
background-color: rgb(140, 137, 137);
  /* position: fixed; */
  top:0;
  left: 0;
  width: 100%;
  z-index: 1;


}
.navbar-brand{
    font-family: "Josefin Slab", serif;
    font-size:30px !important;
    font-weight:800%;
    text-shadow: 2px 3px 2px rgb(146, 27, 68) ;
}
.navbar-nav{
    margin-top: 1%;
    margin-left:55%;
    font-size:1.5vw;
    font-family: sans-serif;
    width: 100vw;
}


/*--home section--*/

.container-1{
    background-color: rgba(128, 128, 128, 0.455);
    background-image: linear-gradient(to bottom right,rgb(160, 157, 157),rgb(231, 222, 222),rgba(119, 114, 114, 0.797));
    border-radius: 15PX;
    box-shadow: 10px 10px 12px rgb(121, 120, 120);
    margin-left: 10vw;
    margin-right: 30vw;
    margin-top: 5vw;
}
.container-h1{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.779);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-left: 10PX;
}
.container-p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 10px;
}
.container-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    margin-left: 10px;
    
}
.imag1{

    width:400px;
    height:450px;
    margin-left: 800px;
    margin-top:-330px;
    border-radius: 30px;
    box-shadow: 9px 9px 5px rgb(83, 81, 81);
}


/*---abou me section--*/
/*.about-me{
    background-image:url(myyyyimage.jpg);

    background-size:80%;
    opacity: 0.8;
    background-position: right;
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    opacity:0.9px;
    
}*/
/*.about-me{
    display: flex;
    width: 100%;
    height: 100%;
}*/

/*.myimage{
    margin-left:32.2%;
    padding-left:-30%;
    margin-top: -20%;
    
    opacity:0.8;
}*/


/*---second section--*/

.projects{
    background-image: linear-gradient(to bottom right,rgba(146, 27, 69, 0.467),rgba(119, 114, 114, 0.238),rgba(146, 27, 69, 0.467));
    height:700px;
}

.projects h1{
    text-align: center;
    padding-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.flex{
    display: flex;
    margin-left:100px;
    
}
.card-1{
    background-color: rgba(189, 191, 193, 0.871);
    border: 1px solid black;
    
    box-shadow: 5px 5px 5px rgb(100, 96, 96);
    margin-left: 100px;
    margin-top: 150px ;
    height: 350px;
}
.card-1:hover{
    transform: scale(1.2);
}
.imag2{
    width:300px;
    height:150px;
}
.card-1-h2{
    font-size:20px;
    padding-left:120px;
    padding-top:20px;
}
.card-1-p{
    text-align:center;
    padding-left: 7px;
    font-size:17px;
}
.card-2{
    background-color: rgba(189, 191, 193, 0.871);
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(100, 96, 96);
    margin-left: 100px;
    margin-top: 150px;
}
.card-2:hover{
    transform: scale(1.2);
}
.imag3{
    border: 1px solid black;
    
    width:300px;
    height:150px;
}
.card-2-h2{
    padding-top:20px;
    font-size:20px;
    padding-left:90px;
}
.card-2-p{
    text-align: center;
    padding-left:7px;
    font-size:17px; 
}
.card-3{
    background-color: rgba(189, 191, 193, 0.871);
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(100, 96, 96);
    margin-left: 100px;
    margin-top: 150px ;
}
.card-3:hover{
    transform: scale(1.2);
}
.imag4{
    border: 1px solid black;
    width:300px;
    height:150px;
}
.card-3-h2{
    padding-top:20px;
    font-size:20px;
    padding-left:90px;
}
.card-3-p{
    text-align: center;
    padding-left:7px;
    font-size:17px; 
}


/*--courses section--*/
.courses{
    background-image: linear-gradient(to bottom right,rgba(255, 192, 203, 0.575),rgba(158, 156, 156, 0.274),rgba(255, 192, 203, 0.575));
    height:28vw;
    
}
.cours-1{
     padding-left:10vw;
     padding-top:5vw;
}
.ci1 {
  margin-top: 18px;
  
  margin-bottom: -50px;
 }
 img{
    
    width:10vw;
    height:7vw;
}
.cours-2{
    padding-left:45vw;
    margin-top:-3.4vw;
    
}

.cours-3{
    padding-left:80vw;
    margin-top:-7vw !important;
}


/*---thied section--*/
.skills{
    background-image: linear-gradient(to bottom right,rgba(255, 192, 203, 0.434),rgb(253, 251, 251),rgba(146, 27, 69, 0.33));
    height:50vw;
    width: 100vw;
}
.skills h1{
    text-align: center;
    padding-top:3vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.softskills{
    height: 80%;
    width:50%;
}
.timeimg{
    width: 5vw;
    height: 5vw;
}
.teamimg{
    width: 5vw;
    height: 5vw;
}
.propimg{
    width: 5vw;
    height: 5vw;
}
.learnimg{
    width: 5vw;
    height: 5vw;
}
.technicalskills{
    height:80%;
    padding-left:53vw;
    padding-top:1vw;

    
}
.cimg{
    width: 5vw;
    height: 5vw;
   
}
.html{
    width: 5vw;
    height: 5vw;
}
.cssimg{
    width: 5vw;
    height: 5vw;
}
.uiimg{
    width: 5vw;
    height: 5vw;
}

/*--fourth section--*/

.contact-me{
    background-image: linear-gradient(to bottom right,rgba(255, 192, 203, 0.378),rgb(253, 251, 251),rgba(146, 27, 69, 0.33));
    height:30vw;
    width:100vw;

}
.a{
    padding-top:5vw;
    padding-left:40vw;
   
}
.b{
    padding-left:40.2vw;
    margin-top:2vw;
}
.c{
    padding-left:40vw;
    margin-top:3vw;
}
.d{
    padding: 30px 30px;
    padding-left:670px;
    margin-top:30px;
   
}
.dd{
    width:150px;
    height:80px;
    border: 2px solid palevioletred;
    background-color: palevioletred;
    border-radius:20px;
    box-shadow: 2px 2px 2px rgb(146, 27, 68);
}
/*--fifth section--*/

.footer{

    background-color:rgb(140, 137, 137) ;
   height:150px;
  
}
.footer-1{
    padding-left:10px;
    padding-top:0.2px;
    font-size:30px ;
}
.footer-2{
    color: rgba(0, 0, 0, 0.573);
    padding-left: 700px;
    margin-top: -59px;
   font-size:15px ;
   
}
.footer-3{
      padding-left: 1069px;
      margin-top:-150px !important;
}
.fo31{

        width: 25px;
        margin-top: -34px;
        height: 21px;
}
.fo32{
    width:25px ;
    height: 21px;
    margin-top: -35px;
}
.fo34{
    width:25px ;
    height: 21px;
    margin-top: -69px;
}
.fo35{
    width:25px ;
    height: 21px;
    margin-top: -70px;
}
.fo41{
    width:25px ;
    height: 21px;
}
.footer-4{
    padding-left:88vw !important;
    margin-top:-100px;
}

#showifram iframe{
    display: none;
}
#showifram:target iframe{
display: block;
}

/*--responsive to mobile--*/


@media (max-width: 426px){
.container-1{
    background-color: rgba(128, 128, 128, 0.455);
    background-image: linear-gradient(to bottom right, rgb(160, 157, 157), rgb(231, 222, 222), rgba(119, 114, 114, 0.797));
    border-radius: 15PX;
    box-shadow: 10px 10px 12px rgb(121, 120, 120);
    margin-left: 160px;
    margin-right: 300px;
    margin-top: 120px;
    width: 250px;
    margin-left:10px;
    }
.container-h1{
    font-size: 23px;
    margin-left:10PX;
    padding-top: 10px;
    }
.container-p1{
    font-size: 15px;
}
.container-2{
    font-size: 15px;
   margin-top:-20px;
}
.imag1 {
      width: 250px;
       height: 250px;
     margin-left: 150px;
     margin-top: -330px;
}
.about-me-p{
    font-size:8px;
    margin-top: -85px;
    margin-left: -28px;
}
.projects{
    height: 1200px;
    width:100%;
}
.card-1 {
   margin-left: -26px;
    margin-top: 25px;
    height: 323px;
}
.imag2 {
    width:286px;
    height: 114px;
}
.card-1-h2 {
    padding-left: 120px;
}
.card-2{
    margin-left:-289px;
    margin-top: 402px;
    height: 323px; 

}
.imag3{
    width: 286px;
    height: 114px; 
}
.card-2-h2{
    padding-left: 53px;
}
.card-3 {
    
  margin-left: -287px;
    margin-top: 780px;
    height: 323px;

}
.imag4{
    width: 286px;
   height: 114px;
}
 .skills {
        height: 137vw;
}
.softskills {
    height: 28%;
    width: 50%;
}
.contact-me{
    height: 54vw;
}
.a {
    padding-top: 5vw;
    padding-left: 20vw;
}
.b {
    padding-left: 21.2vw;
}
.c {
    padding-left: 22vw;
}
.d {
    padding: 18px 2px;
    padding-left: 172px;
    margin-top: -7px;
}
.dd{
    width:100px;
    height:50px;
    border: 2px solid palevioletred;
    background-color: palevioletred;
}

.footer-2 {
    color: rgba(0, 0, 0, 0.573);
    padding-left: 167px;
    margin-top: -56px;
    font-size: 10px;
}
.footer-3 {
    padding-left: 253px;
    margin-top: -98px !important;
}

.footer-4 {
    padding-left: 395px;
    margin-top: -109px;
}

.cours-1{
    margin-top: -19px;
}
.cours-2{
    padding-top: -43px;
}
.cours-3 {
    margin-top: -1vw;
}
.ci1 {
    margin-top: 4px;
    margin-bottom: -13px;
}

}